<div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-md-9" role="main">
    <kc-navigation-application></kc-navigation-application>
    <div id="content">
        <ol class="breadcrumb" data-ng-show="create">
            <li><a href="#/realms/{{realm.realm}}/applications">Applications</a></li>
            <li><a href="#/realms/{{realm.realm}}/applications/{{application.id}}">{{application.name}}</a></li>
            <li class="active">Add module</li>
        </ol>

        <ol class="breadcrumb" data-ng-hide="create">
            <li><a href="#/realms/{{realm.realm}}/applications">Applications</a></li>
            <li><a href="#/realms/{{realm.realm}}/applications/{{application.id}}">{{application.name}}</a></li>
            <li class="active">{{module.name}}</li>
        </ol>

        <p class="subtitle" data-ng-show="create"><span class="required">*</span> Required fields</p>

        <form class="form-horizontal" name="realmForm" novalidate>
            
            <fieldset class="border-top">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Module name <span class="required" data-ng-show="create">*</span></label>

                    <div class="col-sm-4">
                        <input class="form-control" type="text" id="name" name="name" data-ng-model="module.name" autofocus
                               required data-ng-readonly="!create">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Module Url <span class="required" data-ng-show="create">*</span></label>

                    <div class="col-sm-4">
                        <input ng-change="changed = true" class="form-control" type="text" id="url" name="url" data-ng-model="module.url" autofocus
                               required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">External Url <span class="required" data-ng-show="create">*</span></label>
                    <div class="col-sm-4">
                        <input ng-change="changed = true" ng-model="module.externalUrl" name="enabled" id="enabled" onoffswitch />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="description">Description </label>

                    <div class="col-sm-4">
                        <textarea  ng-change="changed = true" class="form-control" rows="5" cols="50" id="description" name="description" data-ng-model="module.description"></textarea>
                        <!-- Replaced by the textarea above <input type="text" id="description" name="description" data-ng-model="role.description" autofocus
                                                               required> -->
                    </div>
                </div>
                
                <div class="form-group clearfix block">
                    <label class="col-sm-2 control-label" for="enabled">Active</label>
                    <div class="col-sm-6">
                        <input ng-change="changed = true" ng-model="module.active" name="enabled" id="enabled" onoffswitch />
                    </div>
                    <span tooltip-placement="right" tooltip="Mandatory field. FunctionÕs status. If an application is down then prudential admin to disable it and this function will not be shown on PSE landing page." class="fa fa-info-circle"></span>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="description">Start Date </label>

                    <div class="col-sm-4">
                        <input ng-change="changed = true" type="date" name="startdate" id="startdate" ng-model="module.startdate"> 
                    </div>
                </div>
             
             	<div class="form-group">
                    <label class="col-sm-2 control-label" for="description">End Date </label>

                    <div class="col-sm-4">
                        <input ng-change="changed = true" type="date" name="startdate" id="startdate" ng-model="module.enddate"> 
                    </div>
                </div>
             
             <div class="form-group" ng-show="application">
                    <div class="controls changing-selectors col-sm-10">
                        <div class="select-title">
                            <label class="control-label" for="available-app">Available Roles <span tooltip-placement="right" tooltip="Assignable roles from this application." class="fa fa-info-circle"></span></label>
                            <select id="available-app" class="form-control" multiple size="5"
                                    ng-multiple="true"
                                    ng-model="selectedModuleRoles"
                                    ng-options="r.name for r in availableModuleRoleMappings">
                            </select>
                        </div>
                        <div class="middle-buttons">
                            <button class="btn btn-default" type="submit" ng-click="addModuleRole()" tooltip="Assign role" tooltip-placement="right">
                                <span class="kc-icon-arrow-right">Move right</span>
                            </button>
                            <button class="btn btn-default" type="submit" ng-click="deleteModuleRole()" tooltip="Unassign role" tooltip-placement="left">
                                <span class="kc-icon-arrow-left">Move left</span>
                            </button>
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="assigned-app">Assigned Roles <span tooltip-placement="right" tooltip="Role mappings for this application." class="fa fa-info-circle"></span></label>
                            <select id="assigned-app" class="form-control" multiple size=5
                                    ng-multiple="true"
                                    ng-model="selectedApplicationModuleRoles"
                                    ng-options="r.name for r in applicationModuleRoles">
                            </select>
                        </div>
                        <div class="middle-buttons">
                            -
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="app-composite">Effective Roles <span tooltip-placement="right" tooltip="Role mappings for this application.  Some roles here might be inherited from a mapped composite role." class="fa fa-info-circle"></span></label>
                            <select id="app-composite" class="form-control" multiple size=5
                                    ng-disabled="true"
                                    ng-model="dummymodel"
                                    ng-options="r.name for r in applicationComposite">
                            </select>
                        </div>
                    </div>
                </div>   
            </fieldset>

            

            <div class="pull-right form-actions" data-ng-show="create && access.manageApplications">
                <button kc-cancel data-ng-click="cancel()">Cancel</button>
                <button kc-save data-ng-show="create">Save</button>
            </div>
            <div class="pull-right form-actions" data-ng-show="!create && access.manageApplications">
                <button kc-reset data-ng-show="changed">Clear changes</button>
                <button kc-save  data-ng-show="changed" >Save</button>
                <button kc-delete data-ng-click="remove()" data-ng-hide="changed">Delete</button>
            </div>

        </form>
    </div>
</div>