<div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-md-9" role="main">

    <kc-navigation-application></kc-navigation-application>
    <div id="content">
        <ol class="breadcrumb" data-ng-hide="create">
            <li><a href="#/realms/{{realm.realm}}/applications">Applications</a></li>
            <li><a href="#/realms/{{realm.realm}}/applications/{{application.id}}">{{application.name}}</a></li>
            <li class="active">Roles</li>
        </ol>
        <h2><span>{{application.name}}</span> Application Roles</h2>
       
       <div class="form-group" ng-show="application">
              <div class="controls changing-selectors col-sm-10">
                  <div class="select-title">
                      <label class="control-label" for="available-app">Available Roles <span tooltip-placement="right" tooltip="Assignable roles from this application." class="fa fa-info-circle"></span></label>
                      <select id="available-app" class="form-control" multiple size="5"
                              ng-multiple="true"
                              ng-model="selectedRealmRoles"
                              ng-options="r.name for r in realmRoles">
                      </select>
                  </div>
                  <div class="middle-buttons">
                      <button class="btn btn-default" type="submit" ng-click="addRole()" tooltip="Assign role" tooltip-placement="right">
                          <span class="kc-icon-arrow-right">Move right</span>
                      </button>
                      <button class="btn btn-default" type="submit" ng-click="deleteRole()" tooltip="Unassign role" tooltip-placement="left">
                          <span class="kc-icon-arrow-left">Move left</span>
                      </button>
                  </div>
                  <div class="select-title">
                      <label class="control-label" for="assigned-app">Assigned Roles <span tooltip-placement="right" tooltip="Role mappings for this application." class="fa fa-info-circle"></span></label>
                      <select id="assigned-app" class="form-control" multiple size=5
                              ng-multiple="true"
                              ng-model="selectedApplicationRoles"
                              ng-options="r.name for r in applicationRoles">
                      </select>
                  </div>
                  <div class="middle-buttons">
                      -
                  </div>
                  <div class="select-title">
                      <label class="control-label" for="app-composite">Effective Roles <span tooltip-placement="right" tooltip="Role mappings for this application.  Some roles here might be inherited from a mapped composite role." class="fa fa-info-circle"></span></label>
                      <select id="app-composite" class="form-control" multiple size=5
                              ng-disabled="true"
                              ng-model="dummymodel"
                              ng-options="r.name for r in myApplicationRolesComposite">
                      </select>
                  </div>
              </div>
          </div>  
            
    </div>
</div>
