<div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div> 
<div id="content-area" class="col-md-9" role="main">

    <!-- <ul class="nav nav-tabs nav-tabs-pf" data-ng-show="!create">
        <li class="active"><a href="#/realms/{{realm.realm}}/users/{{user.username}}">Attributes</a></li>
        <li data-ng-show="access.manageUsers"><a href="#/realms/{{realm.realm}}/users/{{user.username}}/user-credentials">Credentials</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}/role-mappings">Role Mappings</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}/sessions">Sessions</a></li>
        <li data-ng-show="realm.social"><a href="#/realms/{{realm.realm}}/users/{{user.username}}/social-links">Social Links</a></li>
    </ul> -->
    <!-- <ul class="nav nav-tabs nav-tabs-pf" data-ng-show="create">
        <li class="active"><a href="">User List</a></li>
        <li><a href="#/realms/{{realm.realm}}/user-federation">Federation</a></li>
    </ul> -->
    <div id="content">
        <!-- <ol class="breadcrumb" data-ng-hide="create">
            <li><a href="#/realms/{{realm.realm}}/users">Users</a></li>
            <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}">{{user.username}}</a></li>
            <li class="active">Settings</li>
        </ol>
        <ol class="breadcrumb" data-ng-show="create">
            <li><a href="#/realms/{{realm.realm}}/users">Users</a></li>
            <li class="active">Add User</li>
        </ol> -->
        <h2 data-ng-show="create" class="pull-left">Add User Type</h2>
        <!-- <h2 data-ng-hide="create" class="pull-left">User <span>{{user.username}}'s</span> Attributes</h2> -->
        <p class="subtitle"><span class="required">*</span> Required fields</p>

        <form class="form-horizontal" name="userTypeForm" novalidate kc-read-only="!access.manageUsers">
            
            <fieldset class="border-top">
                
                <div class="form-group">
                    <label class="col-sm-2 control-label"for="userTypeName">User Type<span class="required" data-ng-show="create">*</span></label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="userTypeName" name="userTypeName" data-ng-model="userType.name" autofocus
                               required>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label class="col-sm-2 control-label"for="userTypeName">Redirect Url<span class="required" data-ng-show="create">*</span></label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="redirectUrl" name="redirectUrl" data-ng-model="userType.redirectUrl" autofocus
                               required>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="import-file">T&C Content</label>
                    <div class="col-sm-4">
                        <div class="controls" data-ng-show="!files || files.length == 0">
                            <button data-ng-show="!create" type="button" data-ng-click="download()" class="btn btn-lg btn-primary">Download TNC</button>
                        </div>
                        <div class="controls kc-button-input-file" data-ng-show="!files || files.length == 0">
                            <a href="#" class="btn btn-default"><span class="kc-icon-upload">Icon: Upload</span>Choose a File...</a>
                            <input id="import-file" type="file" class="transparent" ng-file-select="onFileSelect($files)" required>
                        </div>
                        <span class="kc-uploaded-file" data-ng-show="files.length > 0">
                            {{files[0].name}}
                        </span>
                    </div>
                </div>
            </fieldset>

			<!-- <div class="form-group" ng-show="application"> -->
			<div class="form-group" ng-show="true">
                    <div class="controls changing-selectors col-sm-10">
                        <div class="select-title">
                            <label class="control-label" for="available-app">Available Roles <span tooltip-placement="right" tooltip="Assignable roles from this user type." class="fa fa-info-circle"></span></label>
                            <select id="available-app" class="form-control" multiple size="5"
                                    ng-multiple="true"
                                    ng-model="selectedUserTypeRoles"
                                    ng-options="r.name for r in availableUserTypeRoleMappings | orderBy:orderByValue">
                            </select>
                        </div>
                        <div class="middle-buttons">
                            <button class="btn btn-default" type="submit" ng-click="addUserTypeRole()" tooltip="Assign role" tooltip-placement="right">
                                <span class="kc-icon-arrow-right">Move right</span>
                            </button>
                            <button class="btn btn-default" type="submit" ng-click="deleteUserTypeRole()" tooltip="Unassign role" tooltip-placement="left">
                                <span class="kc-icon-arrow-left">Move left</span>
                            </button>
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="assigned-app">Assigned Roles <span tooltip-placement="right" tooltip="Role mappings for this user type." class="fa fa-info-circle"></span></label>
                            <select id="assigned-app" class="form-control" multiple size=5
                                    ng-multiple="true"
                                    ng-model="selectedApplicationUserTypeRoles"
                                    ng-options="r.name for r in applicationUserTypeRoles | orderBy:orderByValue">
                            </select>
                        </div>
                        <div class="middle-buttons">
                            -
                        </div>
                        <div class="select-title">
                            <label class="control-label" for="app-composite">Effective Roles <span tooltip-placement="right" tooltip="Role mappings for this user type.  Some roles here might be inherited from a mapped composite role." class="fa fa-info-circle"></span></label>
                            <select id="app-composite" class="form-control" multiple size=5
                                    ng-disabled="true"
                                    ng-model="dummymodel"
                                    ng-options="r.name for r in applicationComposite | orderBy:orderByValue">
                            </select>
                        </div>
                    </div>
                </div>

<div class="pull-right form-actions" data-ng-show="create">
    <button kc-cancel data-ng-click="cancel()">Cancel</button>
<!--    <button kc-save data-ng-show="changed">Save</button>-->
    <div class="pull-right form-actions" data-ng-show="files.length > 0">
        <button type="submit" data-ng-click="clearFileSelect()" class="btn btn-lg btn-default">Clear selected file</button>
        <button type="submit" data-ng-click="uploadFile()" class="btn btn-lg btn-primary">Create</button>
    </div>
</div>

<div class="pull-right form-actions" data-ng-show="!create">
    <button kc-reset data-ng-show="changed">Clear changes</button>
    <button type="button" data-ng-show="changed" data-ng-click="uploadFile()" class="btn btn-lg btn-primary">Save</button>
    <button kc-delete data-ng-click="remove()" data-ng-hide="changed">Delete</button>
</div>

</form>
</div>
</div>
