<div class="bs-sidebar col-md-3 clearfix" data-ng-include data-src="'partials/realm-menu.html'"></div>
<div id="content-area" class="col-md-9" role="main">

    <!-- <ul class="nav nav-tabs nav-tabs-pf" data-ng-show="!create">
        <li class="active"><a href="#/realms/{{realm.realm}}/users/{{user.username}}">Attributes</a></li>
        <li data-ng-show="access.manageUsers"><a href="#/realms/{{realm.realm}}/users/{{user.username}}/user-credentials">Credentials</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}/role-mappings">Role Mappings</a></li>
        <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}/sessions">Sessions</a></li>
        <li data-ng-show="realm.social"><a href="#/realms/{{realm.realm}}/users/{{user.username}}/social-links">Social Links</a></li>
    </ul> -->
    <!-- <ul class="nav nav-tabs nav-tabs-pf" data-ng-show="create">
        <li class="active"><a href="">User List</a></li>
        <li><a href="#/realms/{{realm.realm}}/user-federation">Federation</a></li>
    </ul> -->
    <div id="content">
        <!-- <ol class="breadcrumb" data-ng-hide="create">
            <li><a href="#/realms/{{realm.realm}}/users">Users</a></li>
            <li><a href="#/realms/{{realm.realm}}/users/{{user.username}}">{{user.username}}</a></li>
            <li class="active">Settings</li>
        </ol>
        <ol class="breadcrumb" data-ng-show="create">
            <li><a href="#/realms/{{realm.realm}}/users">Users</a></li>
            <li class="active">Add User</li>
        </ol> -->
        <h2 data-ng-show="create" class="pull-left">Add User Sub Type</h2>
        <!-- <h2 data-ng-hide="create" class="pull-left">User <span>{{user.username}}'s</span> Attributes</h2> -->
        <p class="subtitle"><span class="required">*</span> Required fields</p>

        <form class="form-horizontal" name="userTypeForm" novalidate kc-read-only="!access.manageUsers">
            
            <fieldset class="border-top">
                
                <!-- <div class="form-group" data-ng-show="protocol == 'openid-connect'">
                    <label class="col-sm-2 control-label" for="accessType">Access Type</label>
                    <div class="col-sm-6">
                        <div class="select-kc">
                            <select id="accessType"
                                    ng-change="changeAccessType()"
                                    ng-model="accessType"
                                    ng-options="aType for aType in accessTypes">
                            </select>
                        </div>
                    </div>
                    <span tooltip-placement="right" tooltip="'Confidential' applications require a secret to initiate login protocol.  'Public' clients do not require a secret.  'Bearer-only' applications are web services that never initiate a login." class="fa fa-info-circle"></span>
                </div> -->
                
                <div class="form-group">
                    <label class="col-sm-2 control-label"for="userTypeName">User Type<span class="required" data-ng-show="create">*</span></label>
                    <div class="col-sm-5">
                    	<div class="select-kc">
							<select id="userTypeName"
								ng-model="userSubType.userType"
								ng-options="o.id as o.name for o in userTypes" >
							</select>
						</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="userSubTypeName">User Sub Type</label>

                    <div class="col-sm-5">
                        <input class="form-control" type="text" name="userSubTypeName" id="userSubTypeName"
                               data-ng-model="userSubType.name">
                    </div>
                </div>
            </fieldset>
            
            <div class="pull-right form-actions" data-ng-show="create">
                <button kc-cancel data-ng-click="cancel()">Cancel</button>
                <button kc-save data-ng-show="changed">Save</button>
            </div>

            <div class="pull-right form-actions" data-ng-show="!create">
                <button kc-reset data-ng-show="changed">Clear changes</button>
                <button kc-save  data-ng-show="changed">Save</button>
                <button kc-delete data-ng-click="remove()" data-ng-hide="changed">Delete</button>
            </div>

        </form>
    </div>
</div>